.team-card{
    background-color: var(--main);
    color: var(--sec);
    width: 300px;
    padding: 20px;
    margin-bottom: 10px;
    border: 2px solid var(--sec);
    border-radius: 38px;
}

.team-id{
    margin: 0;
}