.main-container{
    background-color: var(--main);
    color: var(--sec);
    width: 100vw;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 35px;
}

.link-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.link{
    text-decoration: none;
    color: var(--main);
    background-color: var(--sec);
    padding: 10px;
    font-weight: 700;
    border-radius: 5px;
    width: fit-content;
}

@media (max-width: 450px) {
    .main-logo{
        width: 80%;
    }
}
.container {
  position: absolute;
  top: 20px;
  right: 15px;
  padding: 22.5px;
}

.button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.button:hover {
  background-color: #333;
}
