.modal-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(128, 128, 128, 0.691);
}

.modal-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--main);
    height: 50vh;
    width: 50vw;
    color: var(--sec);
    display: flex;
    justify-content: space-between;
}