.reg-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: max-content;
}

.form{
    background-color: var(--sec);
    height: 100vh;
    width: 70vw;
    overflow:scroll;
}

.side{
    background-color: var(--main);
    height: 100vh;
    width: 30vw;
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 0;
}

.thon{
    translate: -45%;
    scale: 1.8;
}

.team-size{
    background-color: var(--main);
    width: fit-content;
    padding: 5px 10px ;
    color: var(--sec);
    font-size: 40px;
    cursor: pointer;
    border-radius: 10px;
}

.size-btn{
    display: flex;
    justify-content: space-around;
}