.acc-container, .acc-toggle{
    background-color: var(--main);
    color: var(--sec);
    margin-bottom: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.acc-toggle{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 1rem;
    margin-left: 3.6rem;
    align-self: flex-start;
}

.acc-toggle input{
    width: fit-content;
}

.name-input{
    width: 68%;
    padding-left: 0.8em;
}

.acc-container input{
    /* margin-bottom: 10px; */
    background-color: var(--main);
    font-family: 'Mont';
    font-weight: 700;
    text-transform: uppercase;
}

.toggler{
    background-color: var(--sec);
    border: none;
    border-radius: 50%;
    color: var(--main);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    line-height: 20px;
    padding: 15px;
}

.toggle-active{
    transform: rotate(45deg);
}

.top-fields{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

input{
    border-style: none;
    font-family: 'Raleway';
    font-size: 20px;
}

.acc-container button{
    width: min-content;
}

input[name="rollno"],input[name="name"],input[name="branch"]{
    text-transform: uppercase;
}

.drop{
    width: max-content;
    font-family: 'Raleway';
    font-weight: 800;
    padding: 0;
    text-transform: uppercase;
}

.lead-btn{
    width: fit-content;
    padding: 6px 35px ;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Akira';
}

.active{
    background-color: var(--sec);
    color: var(--main);
}
.not-active{
    background-color: var(--main);
    color: var(--main);
    border: 1px solid;
    border-color: var(--sec);
    -webkit-text-stroke-width: 1px;   
    -webkit-text-stroke-color: var(--sec);   

}

@media (max-width:480px){
    .toggler{
        font-size: 1.5em;
        line-height: 15px;
        padding: 12px;
    }

    .lead-btn{
        padding: 6px 10px;
        font-size: 0.8em;
    }

    .name-input{
        font-size: 1em;
    }

    .acc-toggle{
        margin-left: 1.7rem;
    }

    .acc-toggle input{
        font-size: 1em;
    }
}