.acc-container, .acc-toggle{
    background-color: var(--main);
    color: var(--sec);
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.acc-container input{
    width: 500px;
    margin-bottom: 10px;
}

.acc-container button{
    width: min-content;
}

input[name="rollno"],input[name="name"],input[name="branch"]{
    text-transform: uppercase;
}

.drop{
    width: 300px;
}