.error{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.err-title{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.back{
    font-family: 'Mont';
    position: absolute;
    z-index: -22;
    margin: 0;
    color: rgb(35, 35, 35);
    font-size: 60em;
}

.err-link{
    color: var(--accent);
}

.err-link:visited{
    color: var(--accent);
}

@media (max-width: 450px) {
    .back{
        font-size: 15em;
    }
}